{% extends 'main/base.html' %}

{% block title %}
Contacts | INTERIOR
{% endblock %}

{% block body %}
    <div class="container">
        <div class="top-header">
            <div class="top-header-content container-smal">
                <div class="header clearfix">
                    <a href="index.html"><img src="img/logo.svg" alt="logo"></a>
                    <ul class="menu clearfix">
                        <li class="menu-list"><a href="{% url 'home'%}" class="menu-link ">HOME</a></li>
                        <li class="menu-list"><a href="products.html" class="menu-link">PRODUCTS</a></li>
                        <li class="menu-list"><a href="#" class="menu-link">HISTORY</a></li>
                        <li class="menu-list"><a href="#" class="menu-link">SHOWROOM</a></li>
                        <li class="menu-list"><a href="{% url 'contacts'%}" class="menu-link menu-link-active"> CONTACT</a></li>
                        <li class="menu-list"><a href="#" class="menu-link"> <img src="img/search.svg" alt="search"></a></li>
                    </ul>
                </div>
                <h1>Contact Us</h1>

            </div>
        </div>

        <div class="contactus-container">
            <div class="adresses-container container-smal">
                <div class="adress-block">
                    <i class="fas fa-map-marker-alt"></i>
                    <h1>CALIFORNIA</h1>

                    <h5>Phone:</h5>
                    <p>1900 - 1234 -5678</p>

                    <h5>Email:</h5>
                    <p>info@interior.com</p>

                    <h5>Address:</h5>
                    <p>12 W 1st St, 90001 Los Angeles, California</p>

                </div>
                <div class="adress-block">
                    <i class="fas fa-map-marker-alt"></i>
                    <h1>CALIFORNIA</h1>

                    <h5>Phone:</h5>
                    <p>1900 - 1234 -5678</p>

                    <h5>Email:</h5>
                    <p>info@interior.com</p>

                    <h5>Address:</h5>
                    <p>12 W 1st St, 90001 Los Angeles, California</p>
                </div>
                <div class="adress-block">
                    <i class="fas fa-map-marker-alt"></i>
                    <h1>CALIFORNIA</h1>

                    <h5>Phone:</h5>
                    <p>1900 - 1234 -5678</p>

                    <h5>Email:</h5>
                    <p>info@interior.com</p>

                    <h5>Address:</h5>
                    <p>12 W 1st St, 90001 Los Angeles, California</p>
                </div>
            </div>
        </div><div class="antifooter"></div>
    </div>
    <div class="clr"></div>
{% endblock %}
